body {
    background-attachment: fixed;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    opacity: 0.75; 
}

#contact {
    align-content: center;
}

form {
    font-family: 'Cardo', serif;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    font-family: 'Cardo', serif;
    text-align: center;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    background-color: white;
}

.navbar {
    background-color: rgb(151, 151, 255);
    margin-bottom: 1.5%;
    color: black !important;
}

#contactForm {
    width: 100%;
    object-fit: cover;
}

#description{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    align-content: center;
}

#selfie {
    height: inherit;
    max-height: 570px;
}

.card-img-top {
    height: 50%;
}

