.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

#navbar {
    background-color: rgba(180, 84, 156, 0.692);
}

#contactForm {
    width: 100%;
    object-fit: cover;
}

#description{
    border: dotted black;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

#photo {
    max-width: 25%;
    height: auto;
    width: auto\9; 
    align-content: right;
}

.card-img-top {
    height: 50%;
}