.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

#contactForm {
    width: 100%;
    object-fit: cover;
}

#description{
    border: dotted black;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

#photo {
    width: 100 px;
    height: 100 px;
    border: dotted black;
}